vti_encoding:SR|utf8-nl
vti_author:SR|Thomas-Laptop\\Thomas
vti_modifiedby:SR|Thomas-Laptop\\Thomas
vti_timelastmodified:TR|13 Aug 2011 19:33:00 -0000
vti_timecreated:TR|12 Aug 2011 01:43:04 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|template.dwt copybooks.html about.html index.html
vti_nexttolasttimemodified:TW|12 Aug 2011 02:18:02 -0000
vti_cacheddtm:TX|13 Aug 2011 19:33:00 -0000
vti_filesize:IR|1481
vti_cachedlinkinfo:VX|S|../Images/knight.png S|../Images/angel.png
vti_cachedsvcrellinks:VX|FSUS|Images/knight.png FSUS|Images/angel.png
