vti_encoding:SR|utf8-nl
vti_author:SR|Thomas-Laptop\\Thomas
vti_modifiedby:SR|Thomas-Laptop\\Thomas
vti_timelastmodified:TR|12 Aug 2011 02:17:19 -0000
vti_timecreated:TR|18 Jun 2011 22:38:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_cacheddtm:TX|12 Aug 2011 02:17:19 -0000
vti_filesize:IR|2684
vti_cachedlinkinfo:VX|Q|layout.css S|../images/leftphoto.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/leftphoto.jpg
